<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@400;600&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
    <title>Hasil Deteksi Teks</title>
</head>
<body>
    <!-- navbar -->
    <nav class="navbar-result">
        <img src="{{ url_for('static', filename='images/logodummy.png') }}" alt="image" width="60" height="54">
    </nav>

    <!-- section -->
    <div class="container-analysis">
        <h1 class="analysis-title">hasil analisis</h1>
        <div class="analysis-box">
            <div class="analysis-content">
                <div class="analysis-row">
                    <p class="analysis-label"><strong>Resolusi</strong></p>
                    <p class="analysis-value">simply dummy text</p>
                </div>
                <div class="analysis-row">
                    <p class="analysis-label"><strong>Judul</strong></p>
                    <p class="analysis-value">simply dummy text</p>
                </div>
                <div class="analysis-row">
                    <p class="analysis-label"><strong>Sub-judul</strong></p>
                    <p class="analysis-value">simply dummy text</p>
                </div>
                <div class="analysis-row">
                    <p class="analysis-label"><strong>Headline</strong></p>
                    <p class="analysis-value">simply dummy text</p>
                </div>
                <div class="analysis-row">
                    <p class="analysis-label"><strong>Sub-headline</strong></p>
                    <p class="analysis-value">simply dummy text</p>
                </div>
                <div class="analysis-row">
                    <p class="analysis-label"><strong>Harga</strong></p>
                    <p class="analysis-value">simply dummy text</p>
                </div>
                <div class="analysis-row">
                    <p class="analysis-label"><strong>Keunggulan</strong></p>
                    <p class="analysis-value">simply dummy text</p>
                </div>
                <div class="analysis-row">
                    <p class="analysis-label"><strong>Slogan</strong></p>
                    <p class="analysis-value">simply dummy text</p>
                </div>
                <div class="analysis-row">
                    <p class="analysis-label"><strong>Engagement</strong></p>
                    <p class="analysis-value">
                        {{ result['like_count'] }} <span class="icon"><img src="{{ url_for('static', filename='images/like.png') }}" alt=""></span>
                        {{ result['comment_count'] }} <span class="icon"><img src="{{ url_for('static', filename='images/komen.png') }}" alt=""></span>
                        {{ result['view_count'] }} <span class="icon"><img src="{{ url_for('static', filename='images/share.png') }}" alt=""></span>
                    </p>
                    
                </div>
                <div class="analysis-row">
                    <p class="analysis-label"><strong>Performance</strong></p>
                    <p class="analysis-value">90%</p>
                </div>
            </div>
        </div>
    </div>
    
    <!-- footer -->
    <div class="footer">
        <div class="footer-content row">
            <div class="footer-left col row">
                <img class="col" src="{{ url_for('static', filename='images/logodummy.png') }}" alt="image">
                <p class="col">Lorem Ipsum is simply dummy text of the printing and typesetting industry.</p>
            </div>
            <div class="footer-right col mb-4">
                <a data-mdb-ripple-init class="btn btn-outline btn-floating m-1" href="#!" role="button">
                    <img src="{{ url_for('static', filename='images/email.png') }}"></img >
                </a>
                <a data-mdb-ripple-init class="btn btn-outline btn-floating m-1" href="#!" role="button">
                    <img src="{{ url_for('static', filename='images/yt.png') }}"></img >
                </a>
                <a data-mdb-ripple-init class="btn btn-outline btn-floating m-1" href="#!" role="button">
                    <img src="{{ url_for('static', filename='images/globe.png') }}"></img >
                </a>
                <a data-mdb-ripple-init class="btn btn-outline btn-floating m-1" href="#!" role="button">
                    <img src="{{ url_for('static', filename='images/wa.png') }}"></img >
                </a>
            </div>
        </div>
    </div>
</body>
</html>
