<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@400;600&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/responsive.css') }}">
    <title>IG ADS DETECTION</title>
</head>
<body>
    <!-- navbar -->
    <nav class="navbar">
        <!-- Gambar logo yang dapat diklik untuk kembali ke halaman utama -->
        <a href="{{ url_for('home') }}">
            <img src="{{ url_for('static', filename='images/A.png') }}" alt="image" width="60" height="54">
        </a>
        {% if 'loggedin' in session %}
            <span>Selamat Datang, {{ session['username'] }}</span>
            {% if session['level'] == 'admin' %}
                <a href="{{ url_for('dashboard_admin') }}">Dashboard Admin</a>
            {% endif %}
            <!-- Tombol Logout -->
            <a href="{{ url_for('auth.logout') }}" class="btn-daftar my-2 my-sm-0">Logout</a>
        {% else %}
            <!-- Tombol Daftar jika belum login -->
            <a href="{{ url_for('auth.registrasi') }}" class="btn-daftar my-2 my-sm-0">Daftar</a>
        {% endif %}
    </nav>
    
    

    <!-- section 1 -->
     <div class="hero-section container">
        <div class="hero-tittle">
            <h1>AdSy<br/>Advertisement Rating System</h1>
        </div>

        <!-- <div class="btn-option row align-items-center">
            <div class="btn-link col"><button type="button" class="btn btn-secondary" id="btn-link"><img src="{{ url_for('static', filename='images/link-45deg.svg') }}" alt=""> Tautan</button>
            </div>
            <div class="btn-link col"><button type="button" class="btn1 btn-secondary" id="btn-image"><img src="{{ url_for('static', filename='images/image.svg') }}" alt=""> Gambar</button>
            </div>
        </div> -->

        <div class="bg-form" id="form-link">
            <form action="/hasil" method="post">
                <div class="input-group">
                    <input type="text" name="url" class="form-input" placeholder="masukkan tautan" required>
                    <button type="submit" class="btn-check">check</button>
                </div>
            </form>
        </div>
        <div class="riwayat">
            <a href="{{ url_for('riwayat_analisis') }}" class="btn btn-secondary my-2 my-sm-0 riwayat">
                <button class="btn-check">Lihat Riwayat Analisis</button>
            </a>
        </div>
        <!-- <div class="bg-form d-none" id="form-image">
            <div class="input-group">
                <input type="file" class="form-input" accept="image/*">
                <button class="btn-check">check</button>
            </div>
        </div> -->
     </div>
     <!-- <div>{{ chart_html | safe }}</div> -->

     <!-- section 2 -->
      <div class="desk-sistem row">
        <div class="deskripsi col">
            <h1 class="">Deskripsi Sistem</h1>
            <p>Adsy adalah sistem evaluasi iklan berbasis web yang dirancang untuk membantu pengguna menganalisis performa dan kualitas iklan Instagram. Sistem ini memanfaatkan teknologi web scraping dan analisis teks untuk mengambil dan menyajikan wawasan mendalam dari postingan Instagram. Dengan memasukkan tautan Instagram yang valid, pengguna dapat dengan cepat mengakses data seperti jumlah like, komentar, serta highlight penting dari caption postingan.</p>
        </div>
        <img class="col" src="{{ url_for('static', filename='images/B.png') }}" alt="image">
      </div>

    <!-- section 3 -->
     <div class="sect-3">
        <div class="frame-sect-3">
            <h1>Kenapa Sistem Ini?</h1>
            <div class="reason row">
                <img class="col" src="{{ url_for('static', filename='images/B.png') }}" alt="image">
                <div class="reason-text col">
                    <h3>Analisis Mendalam dengan Teknologi Terbaru</h3>
                    <p>Adsy menggunakan kombinasi teknologi web scraping dan NLP untuk memberikan analisis yang mendalam terhadap iklan Instagram.</p>
                </div>
            </div>
            <div class="reason row">
                <img class="col" src="{{ url_for('static', filename='images/B.png') }}" alt="image">
                <div class="reason-text col">
                    <h3>Efisiensi Waktu dan Tenaga</h3>
                    <p>Adsy mengotomasi proses pengumpulan dan analisis data iklan, sehingga tidak perlu menganalisis data secara manual.</p>
                </div>
            </div>
            <div class="reason row">
                <img class="col" src="{{ url_for('static', filename='images/B.png') }}" alt="image">
                <div class="reason-text col">
                    <h3>Meningkatkan Efektivitas Iklan</h3>
                    <p>Dengan insight yang diberikan oleh Adsy, pengguna dapat Mengoptimalkan engagement (like, komentar, dan share) untuk meningkatkan ROI (Return on Investment).</p>
                </div>
            </div>
        </div>
     </div>

     <!-- footer -->
    <div class="footer">
        <div class="footer-content ">
            <div class="footer-left  ">
                <img class="" src="{{ url_for('static', filename='images/B.png') }}" alt="image">
                <p class="">Adsy adalah sistem evaluasi iklan berbasis web yang dirancang untuk membantu pengguna menganalisis performa dan kualitas iklan Instagram.</p>
            </div>
            <div class="footer-right col mb-4">
                <a data-mdb-ripple-init class="btn btn-outline btn-floating m-1" href="#!" role="button">
                    <img src="{{ url_for('static', filename='images/email.png') }}"></img >
                </a>
                <a data-mdb-ripple-init class="btn btn-outline btn-floating m-1" href="#!" role="button">
                    <img src="{{ url_for('static', filename='images/yt.png') }}"></img >
                </a>
                <a data-mdb-ripple-init class="btn btn-outline btn-floating m-1" href="#!" role="button">
                    <img src="{{ url_for('static', filename='images/globe.png') }}"></img >
                </a>
                <a data-mdb-ripple-init class="btn btn-outline btn-floating m-1" href="#!" role="button">
                    <img src="{{ url_for('static', filename='images/wa.png') }}"></img >
                </a>
            </div>
        </div>
    </div>


    <!-- <script>
        document.addEventListener('DOMContentLoaded', function() {
            var btnLink = document.querySelector('.btn');
            var btnImage = document.querySelector('.btn1');
            var formLink = document.getElementById('form-link');
            var formImage = document.getElementById('form-image');
    
            btnLink.addEventListener('click', function() {
                formLink.classList.remove('d-none');
                formImage.classList.add('d-none');
            });
    
            btnImage.addEventListener('click', function() {
                formLink.classList.add('d-none');
                formImage.classList.remove('d-none');
            });
        });
    </script> -->
    
</body>
</html>